<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}" />
    {{/stylesheets}}

    {{#scripts}}
    <script type="text/javascript" src="{{.}}"></script>
    {{/scripts}}

    <script type="text/javascript" src="{{main}}.js"></script>
    <script type="text/javascript" src="spec/support/jasmine.js"></script>
    <script type="text/javascript" src="spec/support/benchmark.js"></script>
    <script type="text/javascript" src="spec/support/spec_reporter.js"></script>
    <script type="text/javascript" src="spec/{{main}}_spec.js"></script>
    {{#classes}}
    <script type="text/javascript" src="spec/{{name}}_spec.js"></script>
    {{/classes}}
</head>

<body>
    <main>
        <header>
            <h1 class="title">{{{htmlTitle}}}</h1>
        </header>

        <article class="documentation">
            <section class="navigation">
                <nav>
                    <ul>
                        {{#classes.length}}
                        <li class="nav-header">Classes</li>
                        {{#classes}}
                        <li><a href="#{{name}}">{{name}}</a></li>
                        {{/classes}}
                        {{/classes.length}}

                        {{#methods.length}}
                        <li class="nav-header">Methods</li>
                        {{#methods}}
                        <li><a href="#{{name}}">{{name}}</a></li>
                        {{/methods}}
                        {{/methods.length}}
                    </ul>
                </nav>
            </section>

            <section class="content">
                {{#classes}}
                <section class="class" id="{{name}}">
                    <h2 class="name">{{name}}</h2>

                    <p class="description">{{description}}</p>

                    {{#methods}}
                    <section class="method" id="{{name}}">
                        <h2 class="name">{{name}}</h2>

                        <p class="description">{{description}}</p>

                        {{#examples.length}}
                        <h3>Examples</h3>
                        <table class="specs">
                            <thead>
                                <tr>
                                    <th>Test Case</th>
                                    <th>Expected Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#examples}}
                                <tr class="spec" id="spec-{{exampleId}}">
                                    <td class="input">{{{actual}}}</td>
                                    <td class="result">{{{expected}}}</td>
                                </tr>
                                {{/examples}}
                                {{#comparisons}}
                                {{#examples}}
                                <tr class="spec" id="spec-{{exampleId}}">
                                    <td class="input">{{{actual}}}</td>
                                    <td class="result">same as {{name}}</td>
                                </tr>
                                {{/examples}}
                                {{/comparisons}}
                            </tbody>
                        </table>
                        {{/examples.length}}
                    </section>
                    {{/methods}}
                </section>
                {{/classes}}

                {{#methods}}
                <section class="method" id="{{name}}">
                    <h2 class="name">{{name}}</h2>

                    <p class="description">{{description}}</p>

                    {{#examples.length}}
                    <h3>Examples</h3>
                    <table class="specs">
                        <thead>
                            <tr>
                                <th>Spec</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#examples}}
                            <tr class="spec" id="spec-{{exampleId}}">
                                <td class="description">{{description}}</td>
                                <td class="result"></td>
                            </tr>
                            {{/examples}}
                        </tbody>
                    </table>
                    {{/examples.length}}
                </section>
                {{/methods}}
            </section>
        </article>
    </main>
</body>

</html>
