<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{.}}" />
    {{/stylesheets}}

    <script type="text/javascript" src="{{main}}.js"></script>
    <script type="text/javascript" src="jasmine.js"></script>
    <script type="text/javascript" src="{{main}}_spec.js"></script>
    <script type="text/javascript" src="spec_reporter.js"></script>
</head>

<body>
    <!-- TODO: Change this to semantic HTML using SASS or LESS. -->
    <div class="container">
        <div class="well">
            <h1 class="title">{{title}}</h1>
        </div>

        <div class="row">
            <div class="span4">
                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">Methods</li>
                        {{#methods}}
                        <li><a href="#{{name}}">{{name}}</a></li>
                        {{/methods}}
                    </ul>
                </div>
            </div>

            <div class="span8">
                {{#methods}}
                <section class="method" id="{{name}}">
                    <h2 class="name">{{name}}</h2>

                    <p class="description">{{description}}</p>

                    {{#examples.length}}
                    <h3>Examples</h3>
                    <table class="specs table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Spec</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#examples}}
                            <tr class="spec" id="spec-{{exampleId}}">
                                <td class="description">{{description}}</td>
                                <td class="result"></td>
                            </tr>
                            {{/examples}}
                        </tbody>
                    </table>
                    {{/examples.length}}
                </section>
                {{/methods}}
            </div>
        </div>
    </div>
</body>

</html>
