describe("{{title}}", function() {
  function getNumbers(count) {
    var arr = [], i = 0;
    while (i < count) {
      arr.push(i++);
    }
    return arr;
  }

  function getRandomNumbers(count) {
    var arr = [], i = 0;
    while (i < count) {
      arr.push(Math.random());
    }
    return arr;
  }

  {{#methods}}
  describe("{{name}}", function() {
    {{#examples}}
    {{#throwsError}}
    it("{{{description}}}", function() {
      expect(function() { {{{actual}}}; }).toThrow();
    }).exampleId = {{exampleId}};
    {{/throwsError}}
    {{^throwsError}}
    it("{{{description}}}", function() {
      expect({{{actual}}}).toEqual({{{expected}}});
    }).exampleId = {{exampleId}};
    {{/throwsError}}

    {{/examples}}

    {{#comparisons.length}}
    {{#comparisons}}
    describe("compared to {{name}}", function() {
      {{#examples}}
      it("{{{description}}}", function() {
        {{#declarations}}
        {{{.}}};
        {{/declarations}}
        var expected = {{{expected}}};
        expect({{{actual}}}).toEqual(expected);
      }).exampleId = {{exampleId}};
      {{/examples}}
    });
    {{/comparisons}}
    {{/comparisons.length}}
  });

  {{/methods}}
});
